<img src="{{album.album_logo}}"><br>
<h1>{{album.album_title}}</h1><br>
<h2>{{album.artist}}</h2>

{% if error_massage %}
    <p>{{ error_massage }}</p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
        <label for="song{{ forloop.counter }}">{{ song.song_title }}</label>
        {% if song.is_favorite %}
             <label>*</label>
        <br>
        {% endif %}
    {% endfor %}
    <input type="submit" value="שלח">
</form>

<ul>
{% for song in album.song_set.all %}
    <li>{{song.song_title}}</li>
{% endfor %}
</ul>

